<!DOCTYPE html>
<html>
<head>
    <title>{{ quiz.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/take_quiz.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<script>
    $('body').bind('copy paste',function(e) {
    e.preventDefault(); return false; 
});
</script>
<body oncopy="return false" oncut="return false" onpaste="return false">
    <div id="startQuiz" style="vertical-align: middle; margin-top: 250px; text-align: center;">
        <p class="h2">Click the button below to start the quiz.</p>
        <button id="startQuizBtn" class="btn btn-primary">Start Quiz</button>
    </div>
    <div class="timer-container"><div class="timer-head">Time Remaining:</div><div id="timer"></div></div>
    <div id="quizContent" style="display: none;">

        <h1>{{ quiz.title }}</h1>    

        <form action="{{ url_for('main.submit_quiz', quiz_link=quiz.link) }}" id="quizForm" method="post">
            <input type="hidden" name="attempt_id" value="{{ attempt_id }}" readonly>
            {% for question in questions %}
                <div class="container mb-2">
                    <h3>Question: {{ question.text }}</h3>
                    {% for option in question.options %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question_{{ question.id }}" value="{{ option.text }}">
                            <label class="form-check-label">{{ option.text }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <hr>
            <div class="submit" data-toggle="modal" data-target="#submitquiz">
                <input class="button" value="Submit Quiz">
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="submitquiz" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title">Submit Quiz</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to submit the quiz?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" value="Submit Quiz" class="btn btn-primary">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    
    <script>
        document.getElementById('startQuizBtn').addEventListener('click', function() {
            openFullscreen(document.documentElement); // Consider using the document.documentElement for full-screen
            document.getElementById("quizContent").style.display = "block";
            document.getElementById("startQuiz").style.display = "none";
        });

        function openFullscreen(elem) {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.webkitRequestFullscreen) { /* Safari */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE11 */
                elem.msRequestFullscreen();
            }
            document.addEventListener('fullscreenchange', exitFullscreenHandler, false);
            document.addEventListener('webkitfullscreenchange', exitFullscreenHandler, false);
            document.addEventListener('mozfullscreenchange', exitFullscreenHandler, false);
            document.addEventListener('MSFullscreenChange', exitFullscreenHandler, false);
        }

        function exitFullscreenHandler() {
            if (!document.fullscreenElement && !document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {
                $('#submitquiz').modal('show'); 
            }
        }

        $('#submitquiz').on('hidden.bs.modal', function () {
            openFullscreen(document.documentElement);
        });

            const endTime = new Date("{{ end_time.isoformat() }}").getTime();
            const timer = setInterval(function() {
                let now = new Date().getTime();
                let distance = endTime - now;
                let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";

                if (distance <= 0) {
                    clearInterval(timer);
                    document.getElementById('quizForm').submit();
                    document.getElementById("timer").innerHTML = "EXPIRED";
                }
            }, 1000);
    </script>

</body>
</html>
