<!-- templates/view_quiz.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ quiz.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

</head>
<body>
    <h1>{{ quiz.title }}</h1>
    <p>Time Limit: {{ quiz.time_limit }} minutes</p>
    <p>Number of Questions to Display: {{ quiz.num_questions_display }}</p>
    <p>Start Time: {{ quiz.start_time }}</p>
    <p>End Time: {{ quiz.end_time }}</p>
    <p>Link: {{ quiz.link }}</p>
    <h2>Questions</h2>
    {% if questions %}
        <ul>
            {% for question in questions %}
                <li>
                    <p>Question: {{ question.text }}</p>
                    <p>Options:</p>
                    <ol>
                        {% for option in question.options %}
                            <li>{{ option.text }}</li>
                        {% endfor %}
                    </ol>
                    <p>Correct Answer: {{ question.correct_answer }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No questions found for this quiz.</p>
    {% endif %}
    <form action="{{ url_for('main.delete_quiz', quiz_link=quiz.link) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this quiz?');">
        <button type="submit" class="btn btn-danger">Delete Quiz</button>
    </form>
    <a href="{{url_for('main.edit_quiz', quiz_link=quiz.link) }}">Edit Quiz</a>

    <a href="{{url_for('main.admin_quiz_results', quiz_link=quiz.link) }}">View Results</a>
        <a href="{{ url_for('main.admin_dashboard') }}">Back to Dashboard</a>
</body>
</html>
